body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

body * {
  margin: 0 0 20px 0;
}

body img {
  width: 150px;
}
