.carousel-link {
    display: flex;
    justify-content: center;
}

.carousel-link a {
    transition: 3s;
}

.carousel-dot {
    background-color: black;
    width: 16px;
    height: 16px;
    margin: 0 5px;
    display: block;
    border-radius: 50%;
}

.carousel-slides {
    height: 40vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden; 
    scroll-behavior: smooth;
}

.carousel-slides > div  {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    
    background-color: var(--main-color);
}


    
