details summary {
  padding-left: 20px;
  margin: 30px 0 10px 0;
}

.details ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  margin-bottom: 12px;
  z-index: 1;
}
.details li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.details img {
  height: 30vw;
  width: 100%;
}

.video-grid {
  display: flex;
  background-color: black;
  margin-bottom: 10px;
}

@media screen and (min-width: 1024px) {
  .details ul {
    grid-template-columns: repeat(5, 1fr);
  }
  .details img {
    height: 25vh;
  }
}
