.footer  {
  background-color: var(--main-color);
  color: white;
  margin-bottom: 0px;
}
.footer p {
  font-size: 22px;
  margin-bottom: 10px;
}

.social-link img {
  padding: 0px 10px;
    
}

@media screen and (min-width:768px) {

}

@media screen and (min-width:768px) {
  .footer {
    padding-top: 20px;
  }
  footer p {
    font-size: 40px;
    
  }
  .social-link img {
    padding: 0px 30px;
    
  }
}