#menu {
  display: none;
}

.navbar {
  display: inline-flex;
  flex-direction: column;
  align-items: end;
  padding: 5px 10px;
  position: fixed;
  right: 7px;
  top: 78px;
  z-index: 9999;
}
.list {
  display: none;
}

.list-item a {
  margin-left: 10px;
  text-decoration: none;
  color: black;
}

label[for="menu"] {
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  height: 25px;
  width: 25px;
  margin-bottom: 5px;
  background-color: rgba(255, 255, 255, 0.436);
  border: 1px solid #4b4b4b;
  border-radius: 5px;
  padding: 5px;
  align-items: center;
}

/* menu burguer*/
/* con [ seleccionamos una propiedad]*/
/* uso before y after me he tenido que documentar*/

label[for="menu"]:before {
  content: " ";
  border-top: 1px solid #4b4b4b;
  display: inline-block;
  height: 5px;
  width: 100%;
}

label[for="menu"]:after {
  content: " ";
  border-top: 1px solid #4b4b4b;
  border-bottom: 1px solid #4b4b4b;
  display: inline-block;
  height: 5px;
  width: 100%;
}

label[for="menu"]:hover {
  background-color: whitesmoke;
}

ul.list {
  display: none;
}

#menu:checked + label + ul.list {
  display: flex;
  flex-direction: column;
  background-color: rgba(220, 220, 220, 0.587);
  padding: 5px;
}

#menu:checked + label + ul.list > li {
  margin: 5px;
}
h4 {
  display: none;
}

@media only screen and (min-width: 768px) {
  label[for="menu"] {
    display: none;
  }
  .navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    right: 0px;
    top: 0px;
    background-color: gainsboro;
    
  }

  .list-item > a {
    text-decoration: none;
    color: #4b4b4b;
    height: 30px;
    padding: 2px 12px;
    margin: 0 20px;
    transition: none linear 0.50s;
    transition-property: background-color, color;
    border-radius: 6px;
  }

  .list-item > a:hover {
    background-color: #1864dde9;
    color: white;
  }

  ul.list {
    display: flex;
  }
  h4 {
    display: block;
  }
}
