#skills ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 25% 25% 25% 25%;
}

#skills>ul>li {
  padding-bottom: 10px;
  
}

#skills>ul>li>span {
  display: inline-block;
  margin-bottom: 5px;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  font-size: 18px;
  font-weight: bold;
}

.progress-bar {
  width: 85%;
  height: 24px;
  background-color: whitesmoke;
  border-radius: 5px;
  display: flex;
  font-size: 16px;
  
}
.progress-bar {
  margin-left: 5px;
}
.progress-bar div {
  border-radius: inherit;
  height: inherit;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
}

.progress-bar.titulos > div {
  width: 87%;
}

.progress-bar.podios > div {
  width: 80%;
}

.progress-bar.victorias > div {
  width: 45%;
}

.progress-bar.vueltas > div {
  width: 40%;
}

.progress-bar.poles > div {
  width: 52%;
}

.progress-bar.carreras > div {
  width: 89%;
}

.progress-bar.puntos > div {
  width: 92%;
}

.progress-bar.temp > div {
  width: 68%;
}

@keyframes progress-bar {
  0% {
    width: 0%;
    background-color: rgb(75, 42, 165);
  }
}

.progress-bar > div,
.titulos,
.podios,
.victorias,
.vueltas,
.poles,
.carreras,
.puntos {
  animation: progress-bar 5s;
}

@media screen and (min-width:1024px) {
  #skills ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 25% 25% 25% 25%;
  }
  #skills ul > li{
    padding: 0px 0px 50px 0px;
  }
  
}