.video {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .video1 {
    height: 250px;
    width: 250px;
    margin-bottom: 10px;
  }
  .video2 {
    height: 250px;
    width: 250px;
  }
  
  @media screen and (min-width:546px) {
    .video1 {
      height: 350px;
      width: 50%;
    }
    .video2 {
      height: 350px;
      width: 50%;
    } 
  }
  