:root {
  --main-color: #d31919;
  font-size: 25px;
}

body {
  background-color: rgb(188, 193, 192);
}

.title {
  height: 50px;
  width: 100%;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  padding: 10px 0px 10px 0px;
  border: 2px solid white;
  border-radius: 8px;
  margin-bottom: 8px;
}

.logo {
  height: 50px;
  width: 50px;
  padding: 5px;
  border-radius: 15px;
}

h1 {
  height: 20px;
  width: 172px; 
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
.navbar {
  height: 2vh;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px ;
  display: none;
}

.list {
  display: flex;
}

.list-item  {
  width: 8em;
  display: flex;
  align-items: center;

}
.list-item a {
  text-decoration: none;
}

.navbar .list .list-item a, .navbar {
  color: rgb(7, 7, 7);
}




@media (min-width:546px) {
  .navbar {
    display: inline-block;
  }
  .list {
    display: inline-block;
  }
  .list-item {
    display: inline-block;
  }
  .list-item a {
    display: inline-block;
  }
  .navbar .list .list-item a, .navbar {
    display: inline-block;
  }
}